<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        Mickey Stanley
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ng-href="#/book/">In Book</a></li>
        <li><a ng-href="#/online/">Online</a></li>
        <li><a ng-href="#/video/">Video</a></li>
      </ul>

    </div>
  </div>
</nav>

<div class="container">

  <div class="text-center">
    <h1>Mickey Stanley</h1>
